{% set vim = salt['grains.filter_by']({
    'default': {
        'pkglist': [
            'vim',
        ]
    },
    'Debian': {
        'pkglist': [
            'vim',
            'vim-doc',
            'vim-scripts',
        ]
    },
    'RedHat': {
        'pkglist': [
            'vim-enhanced',
        ]
    },
}, default="default",
) %}
