{% set vim = salt['grains.filter_by']({
    "default": {
        'pkglist': [
            'vim',
        ],
        'vimaddonmanager': 'vim-addon-manager',
    },

    "Arch": {
        'pkglist': [
        ],
    },

    "Debian": {
        'pkglist': [
            'vim',
            'vim-autopep8',
            'vim-doc',
            'vim-scripts',
        ],
        'vimaddonmanager': 'vim-addon-manager',
    },

    "Gentoo": {
        'pkglist': [
            'app-editors/vim',
        ],
    },

    "RedHat": {
        'pkglist': [
            'vim-enhanced',
        ],
    },

    "Suse": {
        'pkglist': [
            'vim',
        ],
    },
}, default="default",
) %}
