{% set hostnameIsCorrect = False %}
{% if grains.nodename in [
        "livecd",
        "livecd.funtoo",
        "sysresccd",
        ]
      or pillar.get('forcefuntooinstall', False)
%}
{%   set hostnameIsCorrect = True %}
{% endif %}  # livecd.funtoo

{% set stateNotInstalling =
sls ~ " - Incorrect hostname:
  test.fail_without_changes:
    - name: Not installing on '" ~ grains.nodename ~ "',\n"
~ "            expecting 'livecd', 'livecd.funtoo' or 'sysresccd'.\n"
~ "            To override, set pillar 'forcefuntooinstall' to 'True'"
%}
