{% set mntPt = "/mnt/funtoo" %}

# Target Files
{% set localtimeFile = "/etc/localtime" %}
{% set makeConfFile = mntPt ~ "/etc/portage/make.conf" %}
{% set mntFstab = mntPt ~ "/etc/fstab" %}
{% set timezoneFile = "/usr/share/zoneinfo/EST5EDT" %}

# States
{% set chrootIntoFuntoo = tpldir ~ ".chrootIntoFuntoo" %}
{% set configurationFilesMakeConf = tpldir ~ ".configurationFiles-makeConf" %}
{% set configurationFilesfstab = tpldir ~ ".configurationFiles-fstab" %}
{% set configuringYourNetworkWiFi = tpldir ~ ".configuringYourNetwork-Wi-Fi" %}
{% set downloadingThePortageTree = tpldir ~ ".downloadingThePortageTree" %}
{% set installSalt = tpldir ~ ".installSalt" %}
{% set mountVirtFs = tpldir ~ ".mountVirtFs" %}
{% set mountingFilesystems = tpldir ~ ".mountingFilesystems" %}
{% set oldSchoolBiosMbr = tpldir ~ ".oldSchoolBiosMbr" %}
{% set prepareHardDisk = tpldir ~ ".prepareHardDisk" %}
{% set setYourRootPassword = tpldir ~ ".setYourRootPassword" %}
{% set umountSda = tpldir ~ ".umountSda" %}

# SubState
{% set emergeSync = downloadingThePortageTree ~ " - Download Portage Tree (tail)" %}
{% set bindMountDev = mountVirtFs ~ " - Bind mount " ~ mntPt ~ "/dev" %}

# Other
{% set futureHostname = "iac" %}
{% set numThreads = grains["num_cpus"] + 1 %}
{% set saltMasterHostname = "tiger" %}
{% set saltMasterIp = "172.16.16.106" %}
