# Mountpoints
{% set mntPt = "/mnt/funtoo" %}
{% set sysMntPt = mntPt ~ "/sys" %}
{% set bootMntPt = mntPt ~ "/boot" %}

# Minion type
{% set filesystemtype = "btrfs" %}
{% if "container" == grains.virtual %}
{%   set filesystemtype = "ext4" %}
{% endif %}  # virtual (could also be physical, kvm, xen, vmware...)

# Old:
{% set mapperName = "luks_root" %}
{% set mntDev = "/dev/mapper/" ~ mapperName %}

# Target Files
{% set hostnameFile = mntPt ~ "/etc/conf.d/hostname" %}
{% set localtimeFile = "/etc/localtime" %}
{% set makeConfFile = mntPt ~ "/etc/portage/make.conf" %}
{% set mntFstab = mntPt ~ "/etc/fstab" %}
{% set timezoneFile = "/usr/share/zoneinfo/EST5EDT" %}

# States
{% set chrootIntoFuntoo = tpldir ~ ".chrootIntoFuntoo" %}
{% set configurationFilesMakeConf = tpldir ~ ".configurationFiles-makeConf" %}
{% set configurationFilesfstab = tpldir ~ ".configurationFiles-fstab" %}
{% set configuringYourNetworkWiFi = tpldir ~ ".configuringYourNetwork-Wi-Fi" %}
{% set downloadingThePortageTree = tpldir ~ ".downloadingThePortageTree" %}
{% set fixFstab = tpldir ~ ".fixFstab" %}
{% set installSalt = tpldir ~ ".installSalt" %}
{% set installingTheStage3Tarball = tpldir ~ ".installingTheStage3Tarball" %}
{% set mountVirtFs = tpldir ~ ".mountVirtFs" %}
{% set mountingFilesystems = tpldir ~ ".mountingFilesystems" %}
{% set oldSchoolBiosMbr = tpldir ~ ".oldSchoolBiosMbr" %}
{% set newSchoolUefiBootEntry = tpldir ~ ".newSchoolUefiBootEntry" %}
{% set prepareDisk = tpldir ~ ".prepareDisk" %}
{% set setYourRootPassword = tpldir ~ ".setYourRootPassword" %}
{% set settingTheDate = tpldir ~ ".settingTheDate" %}
{% set umountSda = tpldir ~ ".umountSda" %}

# State IDs:
{% set bindMountDev = mountVirtFs ~ " - Bind mount " ~ mntPt ~ "/dev" %}
{% set bindMountSys = mountVirtFs ~ " - Bind mount " ~ mntPt ~ "/sys" %}
{% set bindMountProc = mountVirtFs ~ " - Bind mount " ~ mntPt ~ "/proc" %}
{% set emergeSync = downloadingThePortageTree ~ " - Download Portage "
                    ~ "Tree (tail)" %}
{% set rmMntPtFromFstab = fixFstab ~ " - Remove " ~ mntPt ~ " from "
                          ~ mntFstab %}
{% set formatDisk = prepareDisk ~ " - Format " ~ pillar.funtoodiskslash %}
{% set installStage3 = installingTheStage3Tarball ~ " - Install Funtoo "
                       ~ "Stage 3 onto " ~ mntPt  %}
{% set intelMicrocode = newSchoolUefiBootEntry ~ " - Intel Microcode" %}
{% set mountAsFuntoo = mountingFilesystems ~ " - Mount "
                       ~ filesystemtype ~ " " ~ pillar.funtoodiskslash
                       ~ " as " ~ mntPt %}
{% set mountBootPart = mountingFilesystems ~ " - Mount "
                       ~ pillar.funtoodiskboot ~ " as " ~ bootMntPt %}
{% set setTheTime = settingTheDate ~ " - Set the time" %}

# Other
{% set numThreads = grains["num_cpus"] + 1 %}
{% set saltMasterHostname = "tiger" %}
{% set saltMasterIp = "172.16.16.106" %}

# URL of Stage3
#        ~ pillar.funtoocpu ~ "-" ~ pillar.funtoocpusubarch
{% set cpuarch = pillar.funtoocpu %}
{% if "generic_64" != cpuarch %}
{%   set cpuarch = cpuarch ~ "-" ~ pillar.funtoocpusubarch %}
{% endif %}  # not generic_64
{% set stage3url = "https://build.funtoo.org/1.4-release-std/x86-64bit/"
                   ~ cpuarch ~ "/stage3-latest.tar.xz" %}
