{% set latesturl = "http://download.virtualbox.org/virtualbox/LATEST.TXT" %}
{% set version = salt.http.query(latesturl).body.split('.') %}

{% set vboxpkgs = salt['grains.filter_by']({
    "default": [
        'VirtualBox-' ~ version[0] ~ '.' ~ version[1],
    ],
    "Debian": [
        'virtualbox',
        'libvirt-daemon-driver-vbox',
        'virtualbox-ext-pack',
    ],
    "Gentoo": [
        'app-emulation/virtualbox',
        'app-emulation/virtualbox-additions',
        'app-emulation/virtualbox-guest-additions',
    ],
    "Suse": [
        'virtualbox',
    ],
}) %}
# Debian:
#        'linux-headers-generic',
# Suse:
#        'python3-virtualbox',
#        'virtualbox-devel',
#        'virtualbox-guest-desktop-icons',
#        'virtualbox-guest-source',
#        'virtualbox-guest-tools',
#        'virtualbox-guest-x11',
#        'virtualbox-host-source',
#        'virtualbox-kmp',
#        'virtualbox-kmp-default',
#        'virtualbox-qt',
#        'virtualbox-vnc',
#        'virtualbox-websrv',
