{% set musthaves = salt['grains.filter_by']({
    "default": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bsdutils',
            'coreutils',
            'coreutils',
            'di',
            'dnsutils',
            'elinks',
            'grep',
            'indent',
            'inetutils-traceroute',
            'info',
            'less',
            'links',
            'locate',
            'lynx',
            'make',
            'man-db',
            'openssh-server',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'tcptraceroute',
            'w3m',
            'w3m-img',
            'whois',
        ],
        'gitpkgs': [
            'git',
        ],
        'desktoplist': [
            'antiword',
            'autoexpect',
            'chromium',
            'clusterssh',
            'ctags',
            'display',
            'electricsheep',
            'expect',
            'firefox',
            'flash',
            'fossil',
            'g++',
            'gdb',
            'gpm',
            'gvim',
            'irssi',
            'irssiscripts',
            'ncftp',
            'xmllint',
        ],
        'vlc': [
            'vlc',
        ],
    },
    "Arch": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bsdutils',
            'coreutils',
            'coreutils',
            'di',
            'dnsutils',
            'elinks',
            'grep',
            'indent',
            'inetutils-traceroute',
            'info',
            'less',
            'links',
            'locate',
            'lynx',
            'make',
            'man-db',
            'openssh-server',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'tcptraceroute',
            'w3m',
            'w3m-img',
            'whois',
        ],
        'gitpkgs': [
            'git',
        ],
        'desktoplist': [
            'antiword',
            'autoexpect',
            'chromium',
            'clusterssh',
            'ctags',
            'display',
            'electricsheep',
            'expect',
            'firefox',
            'flash',
            'fossil',
            'g++',
            'gdb',
            'gpm',
            'gvim',
            'irssi',
            'irssiscripts',
            'ncftp',
            'xmllint',
        ],
        'vlc': [
            'vlc',
        ],
    },
    "Debian": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bsdutils',
            'coreutils',
            'coreutils',
            'di',
            'dnsutils',
            'elinks',
            'grep',
            'indent',
            'inetutils-traceroute',
            'info',
            'less',
            'links',
            'locate',
            'lynx',
            'make',
            'man-db',
            'openssh-server',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'tcptraceroute',
            'w3m',
            'w3m-img',
            'whois',
        ],
        'gitpkgs': [
            'git',
        ],
        'desktoplist': [
            'antiword',
            'expect-dev',
            'chromium-browser',
            'clusterssh',
            'exuberant-ctags',
            'imagemagick',
            'electricsheep',
            'expect',
            'firefox',
            'browser-plugin-gnash',
            'fossil',
            'g++',
            'gdb',
            'gpm',
            'vim-gtk',
            'irssi',
            'irssi-scripts',
            'ncftp',
            'libxml2-utils',
        ],
        'vlc': [
            'vlc',
        ],
    },
    "Gentoo": {
        'pkglist': [
            'app-misc/reptyr',
            'app-misc/rlwrap',
            'app-misc/screen',
            'app-shells/bash',
            'app-shells/bash-completion',
            'dev-util/indent',
            'media-gfx/w3mimgfb',
            'net-analyzer/tcptraceroute',
            'net-analyzer/traceroute',
            'net-dns/bind-tools',
            'net-misc/openssh',
            'net-misc/rsync',
            'net-misc/whois',
            'sudo',
            'sys-apps/coreutils',
            'sys-apps/coreutils',
            'sys-apps/grep',
            'sys-apps/less',
            'sys-apps/man-db',
            'sys-apps/mlocate',
            'sys-apps/pv',
            'sys-apps/sed',
            'sys-apps/texinfo',
            'sys-apps/util-linux',
            'sys-block/di',
            'sys-devel/make',
            'sys-process/procps',
            'www-client/elinks',
            'www-client/links',
            'www-client/lynx',
            'www-client/w3m',
        ],
        'gitpkgs': [
            'dev-vcs/git',
        ],
        'desktoplist': [
            'antiword',
            'autoexpect',
            'chromium',
            'clusterssh',
            'ctags',
            'display',
            'electricsheep',
            'expect',
            'firefox',
            'flash',
            'fossil',
            'gcc',
            'gdb',
            'gpm',
            'gvim',
            'irssi',
            'irssiscripts',
            'ncftp',
            'xmllint',
        ],
        'vlc': [
            'vlc',
        ],
    },
    "RedHat": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bind-utils',
            'coreutils',
            'grep',
            'indent',
            'info',
            'jwhois',
            'less',
            'links',
            'lynx',
            'make',
            'man',
            'man-pages',
            'mlocate',
            'openssh',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'traceroute',
            'util-linux-ng',
            'w3m',
        ],
        'gitpkgs': [
            'git',
            'git-completion',
            'git-doc',
        ],
        'desktoplist': [
            'antiword',
            'autoexpect',
            'chromium',
            'clusterssh',
            'ctags',
            'display',
            'electricsheep',
            'expect',
            'firefox',
            'flash',
            'fossil',
            'g++',
            'gdb',
            'gpm',
            'gvim',
            'irssi',
            'irssiscripts',
            'ncftp',
            'xmllint',
        ],
        'vlc': [
            'vlc',
        ],
    },
}, default="default",
) %}
            {#
            'ftp://rpmfind.net/linux/dag/redhat/el6/en/x86_64/dag/RPMS/di-4.35-1.el6.rf.x86_64.rpm',
            'procps-ng',
            #}
