{% set musthaves = salt['grains.filter_by']({
    "default": {
        'pkglist': [

                'apt-btrfs-snapshot'
                'bash',
                'bash-completion',
                'bsdutils',
                'coreutils',
                'curl',
                'di',
                'elinks',
                'grep',
                'help',
                'inetutils-traceroute',
                'info',
                'less',
                'links',
                'locate',
                'lynx',
                'make',
                'man',
                'nslookup',
                'procps',
                'pv',
                'reptyr',
                'rlwrap',
                'rsync',
                'screen',
                'sed',
                'tail',
                'tcllib',
                'tcptraceroute',
                'traceroute',
                'vim',
                'w3m',
                'w3m-img',
                'watch',
                'wget',

        ],
        'opensshd': {
                'svcName': 'opensshd',
                'pkgName': 'opensshd',
        },
        'gitpkg': 'git',
        'desktoplist': [
                'antiword',
                'autoexpect',
                'barrier',
                'clusterssh',
                'ctags',
                'display',
                'electricsheep',
                'enlightenment',
                'e21',
                'eterm',
                'expect',
                'flash',
                'fossil',
                'g++',
                'gdb',
                'git',
                'git-completion',
                'gpm',
                'gvim',
                'indent',
                'irssi',
                'irssiscripts',
                'jq',
                'keepassxc',
                'ncftp',
                'script',
                'scrot',
                'tcllib',
                'terminology',
                'terminator',
                'virt-manager',
                'whois',
                'xmllint',
        ],
        'desktopservices': [
                'barrierc',
                'barriers',
                'gpm',
        ],
        'laptoplist': [
                'rfkill',
        ],
        'laptopservices': [
        ],
        'vlc': 'vlc',
        'chrome': 'google-chrome-stable',
        'desktopbrowserlist': [
                'chromium',
                'firefox',
        ],
        'desktoppip': [
                'yq',
        ],
    },

    "Arch": {
        'pkglist': [

                'bash',
                'bash-completion',
                'bind',
                'coreutils',
                'curl',
                'elinks',
                'grep',
                'indent',
                'less',
                'links',
                'lynx',
                'make',
                'man-db',
                'mlocate',
                'procps-ng',
                'pv',
                'reptyr',
                'rlwrap',
                'rsync',
                'screen',
                'sed',
                'texinfo',
                'traceroute',
                'w3m',
                'wget',
                'whois',

        ],
        'opensshd': {
                'svcName': 'sshd',
                'pkgName': 'openssh',
        },
        'gitpkg': 'git',
        'desktoplist': [
                'antiword',
                'barrier',
                'clusterssh',
                'ctags',
                'expect',
                'fossil',
                'gcc',
                'gdb',
                'gpm',
                'gvim',
                'imagemagick',
                'irssi',
                'jq',
                'keepassxc',
                'lib32-tcl',
                'ncftp',
                'scrot',
                'terminology',
                'terminator',
                'virt-manager',
                'yq',
        ],
        'desktopservices': [
                'gpm',
        ],
        'vlc': 'vlc',
        'desktopbrowserlist': [
                'chromium',
                'firefox',
        ],
        'desktoppip': [
        ],
        'laptoplist': [
        ],
    },

    "Debian": {
        'pkglist': [

                'bash',
                'bash-completion',
                'bsdutils',
                'coreutils',
                'curl',
                'di',
                'dnsutils',
                'elinks',
                'grep',
                'indent',
                'inetutils-traceroute',
                'info',
                'less',
                'links',
                'locate',
                'lynx',
                'make',
                'man-db',
                'procps',
                'pv',
                'python-is-python3',
                'reptyr',
                'rlwrap',
                'rsync',
                'screen',
                'sed',
                'tcptraceroute',
                'w3m',
                'w3m-img',
                'wget',
                'whois',

        ],
        'opensshd': {
                'svcName': 'ssh',
                'pkgName': 'openssh-server',
        },
        'gitpkg': 'git',
        'desktoplist': [
                'antiword',
                'ccal',
                'clusterssh',
                'enlightenment',
                'expect',
                'exuberant-ctags',
                'fossil',
                'g++',
                'gcal',
                'gdb',
                'gpm',
                'imagemagick',
                'irssi',
                'irssi-scripts',
                'jq',
                'keepassxc',
                'libxml2-utils',
                'ncal',
                'ncftp',
                'scrot',
                'tcllib',
                'terminology',
                'terminator',
                'vim-gtk3',
                'vim-python-jedi',
                'vim-syntastic',
                'vim-youcompleteme',
                'virt-manager',
        ],
        'desktopservices': [
                'gpm',
        ],
        'vlc': 'vlc',
        'desktopbrowserlist': [
                'chromium',
                'firefox-esr',
        ],
        'desktoppip': [
                'yq',
        ],
        'laptoplist': [
                'rfkill',
        ],
    },

    "Gentoo": {
        'pkglist': [

                'app-misc/reptyr',
                'app-misc/rlwrap',
                'app-misc/screen',
                'app-shells/bash',
                'app-shells/bash-completion',
                'dev-util/indent',
                'media-gfx/w3mimgfb',
                'net-analyzer/tcptraceroute',
                'net-analyzer/traceroute',
                'net-dns/bind-tools',
                'net-misc/curl',
                'net-misc/rsync',
                'net-misc/wget',
                'net-misc/whois',
                'sys-apps/coreutils',
                'sys-apps/grep',
                'sys-apps/less',
                'sys-apps/man-db',
                'sys-apps/mlocate',
                'sys-apps/pv',
                'sys-apps/sed',
                'sys-apps/texinfo',
                'sys-apps/util-linux',
                'sys-block/di',
                'sys-devel/make',
                'sys-process/procps',
                'www-client/elinks',
                'www-client/links',
                'www-client/lynx',
                'www-client/w3m',

        ],
        'opensshd': {
                'svcName': 'sshd',
                'pkgName': 'net-misc/openssh',
        },
        'desktoplist': [
                'app-admin/keepassxc',
                'app-editors/gvim',
                'app-emulation/virt-manager',
                'app-misc/jq',
                'app-misc/yq',
                'app-text/antiword',
                'dev-libs/libxml2',
                'dev-tcltk/expect',
                'dev-tcltk/tcllib',
                'dev-util/ctags',
                'dev-util/indent',
                'dev-vcs/fossil',
                'media-gfx/imagemagick',
                'media-gfx/scrot',
                'net-ftp/ncftp',
                'net-irc/irssi',
                'net-misc/clusterssh',
                'sys-devel/gcc',
                'sys-devel/gdb',
                'sys-libs/gpm',
                'x11-terms/eterm',
                'x11-terms/terminator',
                'x11-terms/terminology',
                'x11-wm/enlightenment',
        ],
        'desktopservices': [
                'gpm',
        ],
        'gitpkg': 'dev-vcs/git',
        'vlc': 'media-video/vlc',
        'desktopbrowserlist': [
                'www-client/chromium',
                'www-client/firefox',
        ],
        'desktoppip': [
        ],
        'laptoplist': [
                'rfkill',
        ],
    },

    "RedHat": {
        'pkglist': [

                'bash',
                'bash-completion',
                'bind-utils',
                'coreutils',
                'curl',
                'grep',
                'indent',
                'info',
                'less',
                'make',
                'man-pages',
                'mlocate',
                'procps-ng',
                'pv',
                'reptyr',
                'rlwrap',
                'rsync',
                'screen',
                'sed',
                'traceroute',
                'util-linux',
                'wget',

        ],
        'opensshd': {
                'svcName': 'sshd',
                'pkgName': 'openssh',
        },
        'gitpkg': 'git',
        'gitpkgs': [
        ],
        'desktoplist': [
                'ImageMagick',
                'antiword',
                'clusterssh',
                'ctags',
                'enlightenment',
                'expect',
                'fossil',
                'gcc-c++',
                'gdb',
                'gpm',
                'irssi',
                'jq',
                'keepassxc',
                'libxml2',
                'ncftp',
                'scrot',
                'tcllib',
                'terminology',
                'terminator',
                'vim-X11',
                'vim-ansible',
                'vim-enhanced',
                'vim-gitgutter',
                'virt-manager',
        ],
        'desktopservices': [
                'gpm',
        ],
        'vlc': 'vlc',
        'desktopbrowserlist': [
                'chromium',
                'firefox',
        ],
        'desktoppip': [
                'yq',
        ],
        'laptoplist': [
        ],
    },

    "Suse": {
        'pkglist': [

                'bash',
                'bash-completion',
                'bind-utils',
                'coreutils',
                'curl',
                'grep',
                'info',
                'less',
                'make',
                'man',
                'mlocate',
                'procps',
                'pv',
                'rsync',
                'screen',
                'sed',
                'traceroute',
                'util-linux',
                'vim',
                'w3m',
                'wget',

        ],
        'opensshd': {
                'svcName': 'sshd',
                'pkgName': 'openssh',
        },
        'services': [
        ],
        'gitpkg': 'git-core',
        'desktoplist': [
                'antiword',
                'autoexpect',
                'barrier',
                'clusterssh',
                'ctags',
                'display',
                'electricsheep',
                'enlightenment',
                'e21',
                'eterm',
                'expect',
                'flash',
                'fossil',
                'g++',
                'gdb',
                'git',
                'git-completion',
                'gpm',
                'gvim',
                'indent',
                'irssi',
                'irssiscripts',
                'jq',
                'keepassxc',
                'ncftp',
                'scrot',
                'script',
                'terminology',
                'terminator',
                'virt-manager',
                'whois',
                'xmllint',
        ],
        'desktopservices': [
                'barrierc',
                'barriers',
                'gpm',
        ],
        'vlc': 'vlc',
        'desktopbrowserlist': [
                'chromium',
                'firefox',
        ],
        'desktoppip': [
                'yq',
        ],
        'laptoplist': [
        ],
    },

}, default="default",
   merge=salt['grains.filter_by']({
    "Ubuntu": {
        'desktopbrowserlist': [
                'chromium-browser',
        ],
    },
    "OEL": {
        'desktoplist': [
                'ImageMagick',
                'ctags',
                'expect',
                'gcc-c++',
                'gdb',
                'gpm',
                'irssi',
                'jq',
                'keepassxc',
                'libxml2',
                'ncftp',
                'tcllib',
                'terminator',
                'vim-X11',
                'vim-ansible',
                'vim-enhanced',
                'vim-gitgutter',
                'virt-manager',
        ],
    },
    "Amazon": {
        'pkglist': [

                'bash',
                'bash-completion',
                'bind-utils',
                'coreutils',
                'curl',
                'elinks',
                'grep',
                'info',
                'less',
                'lynx',
                'make',
                'man-pages',
                'mlocate',
                'procps-ng',
                'rsync',
                'screen',
                'sed',
                'traceroute',
                'wget',

        ],
        'desktoplist': [
                'ImageMagick',
                'ctags',
                'expect',
                'gcc-c++',
                'gdb',
                'gpm',
                'irssi',
                'jq',
                'libxml2',
                'vim-X11',
                'vim-enhanced',
                'virt-manager',
        ],
        'desktopbrowserlist': [
        ],
    },
}, grain="os",
)) %}
{#
            'ftp://rpmfind.net/linux/dag/redhat/el6/en/x86_64/dag/RPMS/di-4.35-1.el6.rf.x86_64.rpm',
            'procps-ng',
#}

{# TODO:  This doesn't work, but replace this file using 'load_yaml'
        and salt['grains.filter_by'](yaml, merge=otheryaml,
                        grain="os")
{% set musthaves.pkglist = musthaves.pkglist + salt['grains.filter_by']({
    "default": [],
    "OEL": [
                'jwhois',
                'links',
    ],
    "RedHat": [
                'elinks',
                'lynx',
                'w3m',
                'whois',
    ],
},
grain="os",
default="default",
) %}
#}
