{% set musthaves = salt['grains.filter_by']({
    "default": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bsdutils',
            'coreutils',
            'coreutils',
            'di',
            'dnsutils',
            'elinks',
            'grep',
            'indent',
            'inetutils-traceroute',
            'info',
            'less',
            'links',
            'locate',
            'lynx',
            'make',
            'man-db',
            'openssh-server',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'tcptraceroute',
            'w3m',
            'w3m-img',
            'whois',
        ],
        'gitpkgs': [
            'git',
        ],
    },
    "Arch": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bsdutils',
            'coreutils',
            'coreutils',
            'di',
            'dnsutils',
            'elinks',
            'grep',
            'indent',
            'inetutils-traceroute',
            'info',
            'less',
            'links',
            'locate',
            'lynx',
            'make',
            'man-db',
            'openssh-server',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'tcptraceroute',
            'w3m',
            'w3m-img',
            'whois',
        ],
        'gitpkgs': [
            'git',
        ],
    },
    "Debian": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bsdutils',
            'coreutils',
            'coreutils',
            'di',
            'dnsutils',
            'elinks',
            'grep',
            'indent',
            'inetutils-traceroute',
            'info',
            'less',
            'links',
            'locate',
            'lynx',
            'make',
            'man-db',
            'openssh-server',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'tcptraceroute',
            'w3m',
            'w3m-img',
            'whois',
        ],
        'gitpkgs': [
            'git',
        ],
    },
    "Gentoo": {
        'pkglist': [

            'app-misc/reptyr',
            'app-misc/rlwrap',
            'app-misc/screen',
            'app-shells/bash',
            'app-shells/bash-completion',
            'bind-tools',
            'dev-util/indent',
            'mlocate',
            'net-analyzer/tcptraceroute',
            'net-misc/rsync',
            'net-misc/whois',
            'openssh',
            'sys-apps/coreutils',
            'sys-apps/coreutils',
            'sys-apps/grep',
            'sys-apps/less',
            'sys-apps/man-db',
            'sys-apps/pv',
            'sys-apps/sed',
            'sys-block/di',
            'sys-devel/make',
            'sys-process/procps',
            'texinfo',
            'traceroute',
            'util-linux',
            'w3mimgfb',
            'www-client/elinks',
            'www-client/links',
            'www-client/lynx',
            'www-client/w3m',

        ],
        'gitpkgs': [
            'dev-vcs/git',
        ],
    },
    "RedHat": {
        'pkglist': [
            'bash',
            'bash-completion',
            'bind-utils',
            'coreutils',
            'grep',
            'indent',
            'info',
            'jwhois',
            'less',
            'links',
            'lynx',
            'make',
            'man',
            'man-pages',
            'mlocate',
            'openssh',
            'procps',
            'pv',
            'reptyr',
            'rlwrap',
            'rsync',
            'screen',
            'sed',
            'traceroute',
            'util-linux-ng',
            'w3m',
        ],
        'gitpkgs': [
            'git',
            'git-completion',
            'git-doc',
        ],
    },
}, default="default",
) %}
            {#
            'ftp://rpmfind.net/linux/dag/redhat/el6/en/x86_64/dag/RPMS/di-4.35-1.el6.rf.x86_64.rpm',
            'procps-ng',
            #}
