{% set musthaves = salt['grains.filter_by']({
    'Debian': {
        'pkglist': [
            'di',
            'elinks',
            'locate',
            'tcptraceroute',
            'w3m-img',
            'man-db',
            'dnsutils',
            'openssh-server',
            'bsdutils',
            'coreutils',
            'inetutils-traceroute',
            'whois',
        ]
    },
    'RedHat': { 
        'pkglist': [
            'mlocate',
            'man',
            'man-pages',
            'bind-utils',
            'openssh',
            'util-linux-ng',
            'traceroute',
            'jwhois',
        ]
    }, 
    'Arch': {
        'pkglist': [
            'di',
            'elinks',
            'locate',
            'tcptraceroute',
            'w3m-img',
            'man-db',
            'dnsutils',
            'openssh-server',
            'bsdutils',
            'coreutils',
            'inetutils-traceroute',
            'whois',
        ]
    }, 
}) %}
            {#
            'ftp://rpmfind.net/linux/dag/redhat/el6/en/x86_64/dag/RPMS/di-4.35-1.el6.rf.x86_64.rpm', 
            'procps-ng',
            #}
