# State names
{% set musthavesDesktop = "musthaves.desktop" %}
{% set musthavesLaptop = "musthaves.laptop" %}

# Substate names
{% set musthaves4Desktop = musthavesDesktop ~ " - Must-Haves for Desktop" %}
{% set musthaves4Laptop = musthavesLaptop ~ " - Must-Haves for Laptop" %}
