CFLAGS="-Os -pipe -march=native"
CXXFLAGS="${CFLAGS}"
MAKEOPTS="-j{{numThreads}}"
USE="X acpi alsa bluetooth btrfs consolekit cups cryptsetup dbus gif \
     icu jpeg mp3 networkmanager nsplugin png postscript pulseaudio \
     sound sqlite svg symlink truetype wmf xcomposite xinerama \
     xrandr -acl -hardened -mercurial -pax_kernel -ppp -tiff"
#PYTHON_TARGETS="python2_7 python3_4"
VIDEO_CARDS="intel i965 nvidia"
