{% set employeepkg = salt.grains.filter_by({

        "Debian": { "list": [
                "black",
                "openconnect",
                "python3-saltpylint",
                ],
        },

        "Arch": { "list": [
                "openconnect",
                ],
        },

   }, default="Debian",
      merge=salt.grains.filter_by({

        "AlmaLinux": { "list": [],
        },

        "Amazon": { "list": [],
        },

        "Fedora": { "list": [
                "black",
                "openconnect",
                ],
        },

   }, grain="os",
)) %}
