{% set pydevenvpkgs = salt['grains.filter_by']({
        "default": [
                "gcc",
                "git",
                "bzip-developerlibraries",
                "enchant-developerlibraries",
                "lzma-developerlibraries",
                "openssl-developerlibraries",
                "python3-developerlibraries",
                "readline-developerlibraries",
                "sqlite-developerlibraries",
                "tcl-developerlibraries",
                "zlib-developerlibraries",
        ],
        "Debian": [
                "gcc",
                "git",
                "libbz2-dev",
                "libenchant-2-dev",
                "libreadline-dev",
                "libsqlite3-dev",
                "libssl-dev",
                "lzma-dev",
                "python3-dev",
                "tcl-dev",
        ],
        "RedHat": [
                "gcc",
                "git",
                "bzip2-devel",
                "enchant-devel",
                "openssl-devel",
                "python3-devel",
                "readline-devel",
                "sqlite-devel",
                "zlib-devel",
        ],
}) %}

# TODO:  RedHat:
#        - equiv of Deb "tcl-dev" (import _tkinter)
#        - equiv of Deb "lzma-dev" (import _lzma)

{% set installprereqs = "pydevenv.prereqs - Install Python Development"
                        ~ " Environment Prerequisites" %}
