# This file is maintained by SaltStack

section: screens
        {{barrierServer}}:
                halfDuplexCapsLock = false
                halfDuplexNumLock = false
                halfDuplexScrollLock = false
                xtestIsXineramaUnaware = false
                preserveFocus = false
                switchCorners = none
                switchCornerSize = 0
        {{barrierClientRRR}}:
                halfDuplexCapsLock = false
                halfDuplexNumLock = false
                halfDuplexScrollLock = false
                xtestIsXineramaUnaware = false
                preserveFocus = false
                switchCorners = none
                switchCornerSize = 0
        {{barrierClientRR}}:
                halfDuplexCapsLock = false
                halfDuplexNumLock = false
                halfDuplexScrollLock = false
                xtestIsXineramaUnaware = false
                preserveFocus = false
                switchCorners = none
                switchCornerSize = 0
        {{barrierClientR}}:
                halfDuplexCapsLock = false
                halfDuplexNumLock = false
                halfDuplexScrollLock = false
                xtestIsXineramaUnaware = false
                preserveFocus = false
                switchCorners = none
                switchCornerSize = 0
end

section: links
        {{barrierServer}}:
                right = {{barrierClientR}}
        {{barrierClientR}}:
                right = {{barrierClientRR}}
                left = {{barrierServer}}
        {{barrierClientRR}}:
                right = {{barrierClientRRR}}
                left = {{barrierClientR}}
        {{barrierClientRRR}}:
                left = {{barrierClientRR}}
end

section: aliases
        {{barrierServer}}:
                {{barrierServerIP}}
        {{barrierClientR}}:
                {{barrierClientRIP}}
                {{barrierClientRFQDN}}
        {{barrierClientRR}}:
                {{barrierClientRRIP}}
                {{barrierClientRRFQDN}}
        {{barrierClientRRR}}:
                {{barrierClientRRRIP}}
                {{barrierClientRRRFQDN}}
end

section: options
        relativeMouseMoves = false
        screenSaverSync = true
        win32KeepForeground = false
        clipboardSharing = true
        switchCorners = none
        switchCornerSize = 0
end
