{#
{% set pkg = salt['grains.filter_by']({
    'default': {
        'master': 'salt-master',
        'minion': 'salt-minion',
        'ssh': 'salt-ssh',
    },
    'Arch': {
        'minion': 'salt-zmq',
    },
    'Debian': {
        'master': 'salt-master',
        'minion': 'salt-minion',
        'ssh': 'salt-ssh',
    },
    'Gentoo': {
        'master': 'app-admin/salt',
        'minion': 'app-admin/salt',
        'ssh': 'app-admin/salt',
    },
    'Funtoo': {
        'master': 'app-admin/salt',
        'minion': 'app-admin/salt',
        'ssh': 'app-admin/salt',
    },
}, default='default'
) %}
#}

{% set libVirt = salt['grains.filter_by']({
    "default": {
        'conffile': '/etc/default/libvirt-bin'
    },
    "Debian": {
        'conffile': '/etc/default/libvirtd'
    },
    "Gentoo": {
        'conffile': '/etc/default/libvirt-bin'
    },
    "RedHat": {
        'conffile': '/etc/default/libvirt-bin'
    },
}, default='default',
) %}
{#
# Changed above RedHat from:
                'libvirt-bin',
                        to:
                'libvirt',
                because Fedora didn't have libvirt-bin doesn't exist,
                which is probably why I had:
   merge=salt.grains.filter_by({
        "AlmaLinux": {
                'conffile': '/etc/default/libvirt-bin'
        },
}, grain="os",
)) %}
#}

{#
{% set libGuestfs = salt['grains.filter_by']({
    "default": {
        'pkgs': [
                'libguestfs',
                'libguestfs-tools',
        ],
    },
    "Debian": {
        'pkgs': [
                'libguestfs0',
                'libguestfs-tools',
        ],
    },
    "Gentoo": {
        'pkgs': [
                'app-emulation/libguestfs',
        ],
    },
    "RedHat": {
        'pkgs': [
                'libguestfs',
        ],
    },
}, default='default',
) %}
{#
   merge=salt.grains.filter_by({
        "AlmaLinux": {
                'pkgs': [
                        'libguestfs',
                ],
        },
}, grain="os",
)) %}
#}

{% set at = salt['grains.filter_by']({
    "default": {
        'daemon': 'atd',
    },
    "Gentoo": {
        'daemon': 'atd',
    },
}, default='default'
) %}

{% set etcVim = salt['grains.filter_by']({
    "default": "/etc/vim",
    "Suse": "/usr/share/vim/current",
}, default='default'
) %}

{% set srcDir = "/usr/src" %}
{% set jassaltDir = srcDir ~ "/jassalt" %}

{% if salt["cmd.shell"]("test -f /root/.ssh/id_rsa") %}
{%   set gitlabURL = "git@gitlab.com:chruck" %}
{% else %}
{%   set gitlabURL = "https://gitlab.com/chruck" %}
{% endif %}  # ssh key

{% set atinstallID = "salt.at - Install 'at' pkg" %}
{% set mastersvcID = "salt.mastersvc - Restart salt-master service" %}
{% set minionsvcID = "salt.minionsvc - Restart salt-minion service" %}
