{% set pkg = salt['grains.filter_by']({
    'default': {
        'master': 'salt-master',
        'minion': 'salt-minion',
        'ssh': 'salt-ssh',
    },
    'Arch': {
        'minion': 'salt-zmq',
    },
    'Debian': {
        'master': 'salt-master',
        'minion': 'salt-minion',
    },
    'Gentoo': {
        'master': 'app-admin/salt',
        'minion': 'app-admin/salt',
        'ssh': 'app-admin/salt',
    },
    'Funtoo': {
        'master': 'app-admin/salt',
        'minion': 'app-admin/salt',
        'ssh': 'app-admin/salt',
    },
}, default='default'
) %}

{% set libVirt = salt['grains.filter_by']({
    "default": {
        'bin': 'libvirt-bin',
        'python': 'libvirt-python',
    },
    "Debian": {
        'bin': 'libvirt-bin',
        'python': 'python-libvirt',
    },
    "RedHat": {
        'bin': 'libvirt-bin',
        'python': 'libvirt-python',
    },
}, default='default'
) %}

{% set at = salt['grains.filter_by']({
    "default": {
        'pkg': 'at',
        'daemon': 'atd',
    },
    "Gentoo": {
        'pkg': 'sys-process/at',
        'daemon': 'atd',
    },
}, default='default'
) %}

{% set srcDir = "/usr/src" %}
{% set jassaltDir = srcDir ~ "/jassalt" %}
{% set githubURL = "https://github.com/chruck" %}
