# salt/iscontainer.jinja

# TODO:  convert this into a module, eventually patch salt
#        check file below then alter 'virtual' grain for 'container'

{% set is_container = False %}
# grain 'virtual' doesn't return 'container' on systems that use
#       cgroups v2, so to determine if it is a container:
{% if "container" == grains.virtual
      or not salt.cmd.retcode("grep container /proc/self/mountinfo") %}
{%   set is_container = True %}
{% endif %}  {# 'virtual' grain is "container"? #}
