{% from tpldir ~ "/iscontainer.jinja" import is_container with context %}

{% set containerFlag = "" %}
{% if is_container %}
{#   version, for update-grub/grub-mkconfig #}
{%   set containerFlag = "-V" %}
{% endif %}  # is_container

{% set updategrubcmd = salt.grains.filter_by({
    "default":
        'update-grub ' ~ containerFlag,
    "Arch":
        'grub-mkconfig -o /boot/grub/grub.cfg ' ~ containerFlag,
    "Debian":
        'update-grub ' ~ containerFlag,
    "Gentoo":
        'update-grub ' ~ containerFlag,
    "RedHat":
        'grub2-mkconfig -o /boot/grub2/grub.cfg ' ~ containerFlag,
    "Suse":
        'grub2-mkconfig -o /boot/grub2/grub.cfg ' ~ containerFlag,
}, default="default",
) %}
