# salt/pkgnames_map.jinja

# A Jinja map file to normalize package names across distributions.

{% set pkg_name = salt.grains.filter_by(
{
    'default': {
        "map_id": 'default',
        "at": 'at',
        "epel": 'https://dl.fedoraproject.org/pub/epel/epel-release-latest-'
                ~ grains.osmajorrelease ~ '.noarch.rpm',
        "gpg": 'gpg',
        "grub": 'grub-pc',
        "ifupdown": [
                'ifupdown',
        ],
        "libguestfs": [
                'libguestfs',
                'libguestfs-tools',
        ],
        "libvirt": [
                'libvirt-bin',
                'libvirt-dev',
        ],
        "libvirt_python": 'libvirt-python',
        "pip": 'python3-pip',
        "pkg_config": 'pkg-config',
        "pygit": 'python3-pygit2',
        "salt_master": 'salt-master',
        "salt_minion": 'salt-minion',
        "salt_ssh": 'salt-ssh',
    },

    "Arch": {
        "map_id": 'Arch',
        "at": 'at',
        "gpg": 'gnupg',
        "grub": 'grub',
        "ifupdown": [
                'ifupdown',
        ],
        "libguestfs": [
                'libguestfs',
        ],
        "libvirt": [
                'libvirt',
        ],
        "libvirt_python": 'libvirt-python',
        "pip": 'python-pip',
        "pkg_config": 'pkg-config',
        "pygit": 'python-pygit2',
        "salt_master": 'salt',
        "salt_minion": 'salt',
        "salt_ssh": 'salt',
    },

    "Debian": {
        "map_id": 'Debian',
        "at": 'at',
        "gpg": 'gpg',
        "grub": 'grub-pc',
        "ifupdown": [
                'ifupdown2',
        ],
        "libguestfs": [
                'libguestfs0',
                'libguestfs-tools',
        ],
        "libvirt": [
                'libvirt-clients',
                'libvirt-dev',
                'libvirt-daemon-system',
        ],
        "libvirt_python": 'python3-libvirt',
        "pip": 'python3-pip',
        "pkg_config": 'pkg-config',
        "pygit": 'python3-pygit2',
        "salt_master": 'salt-master',
        "salt_minion": 'salt-minion',
        "salt_ssh": 'salt-ssh',
    },

    "Gentoo": {
        "map_id": 'Gentoo',
        "at": 'sys-process/at',
        "gpg": 'app-crypt/gnupg',
        "grub": 'grub-pc',
        "libguestfs": [
                'app-emulation/libguestfs',
        ],
        "libvirt": [
                'app-emulation/libvirt',
        ],
        "libvirt_python": 'dev-python/python-libvirt',
        "pip": 'python3-pip',
        "pkg_config": 'pkg-config',
        "pygit": 'python3-pygit2',
        "salt_master": 'app-admin/salt',
        "salt_minion": 'app-admin/salt',
        "salt_ssh": 'app-admin/salt',
    },

    "RedHat": {
        "map_id": 'RedHat',
        "at": 'at',
        "gpg": 'gnupg2',
        "grub": 'grub2-pc',
        "epel": 'epel-release',
        "ifupdown": [
                'NetworkManager-initscripts-updown',
        ],
        "libguestfs": [
                'libguestfs',
        ],
        "libvirt": [
                'libvirt',
                'libvirt-devel',
        ],
        "libvirt_python": 'python3-libvirt',
        "pip": 'python3-pip',
        "pkg_config": 'pkgconf',
        "pygit": 'python3-pygit2',
        "salt_master": 'salt-master',
        "salt_minion": 'salt-minion',
        "salt_ssh": 'salt-ssh',
    },

    "Suse": {
        "map_id": 'Suse',
        "at": 'at',
        "gpg": 'gpg2',
        "grub": 'grub2',
        "ifupdown": [
                'ifupdown',
        ],
        "libguestfs": [
                'libguestfs',
        ],
        "libvirt": [
                'libvirt',
        ],
        "libvirt_python": 'python3-libvirt-python',
        "pip": 'python3-pip',
        "pkg_config": 'pkg-config',
        "pygit": 'python3-pygit2',
        "salt_master": 'salt-master',
        "salt_minion": 'salt-minion',
        "salt_ssh": 'salt-ssh',
    },

}, default='default',
   merge=salt.grains.filter_by(
   {
        "Amazon": {
                "map_id": 'Amazon',
                "epel": 'epel',
                "ifupdown": [
                        'initscripts',
                ],
                "libvirt_python": 'libvirt-python',
                "pip": 'python3-pip',
                "pkg_config": 'pkgconfig',
                "salt_master": 'salt-master',
                "salt_minion": 'salt-minion',
                "salt_ssh": 'salt-ssh',
        },
   }, grain="os",
   )
) %}

{#
        "AlmaLinux": {
                "map_id": 'AlmaLinux',
                "ifupdown": [
                        'NetworkManager-initscripts-updown',
                ],
        },
        "Fedora": {
                "map_id": 'Fedora',
                "ifupdown": [
                        'NetworkManager-initscripts-updown',
                ],
        },
        "Funtoo": {
                "map_id": 'Funtoo',
        },
#}
